.history
.cache

# ignore some Mac files
*.DS_Store

# VS Code files
/.vscode

# PyCharm
.idea
/.idea/workspace.xml
/.idea/libraries/
/.idea/dictionaries/
/.idea/other.xml
/.idea/modules/root.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/codeStyles
/env

# Setuptools
/build
/dist
/src/c4v.egg-info*
/src/c4v_py.egg-info*


# Jupyter
*.ipynb_checkpoints
*__pycache__


# Tensorflow
*tensorboard/

# Nox
/.nox

# PyTest
/.pytest_cache
/.coverage*
